.body_weekly {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.return_button {
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.192);
  position: fixed;
  left: 95px;
  top: 120px;
  cursor: pointer;
}
.return_button:hover {
  background-color: #0056b3;
}

/* first_body_block css block */
.daily_info {
  width: 100%;
  color: #fafafa;
}
.daily_header {
  position: fixed;
  top: 3vw;
  left: 40vw;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  /* background-color: rgba(0, 0, 0, 0.16); */
  /* border-radius: 20px 20px 0 0; */
  /* overflow: hidden; */
  /* position: relative; */
}
.daily_header h1,
.daily_header h2 {
  font-size: 22px;
}
.daily_info select {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.36);
  text-align: center;
  border: none;
  outline: none;
  margin-bottom: 10px;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 20px;
  z-index: 10;
}
select option {
  background-color: rgb(56, 58, 161);
  color: #ffffff;
  border: none;
}
.graphic {
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.36);
  min-height: 300px;
  width: 100%;
}
.forecast {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  background-color: rgba(46, 46, 46, 0.36);
  border-radius: 0 0 20px 20px;
  margin-bottom: 10px;
  padding: 5px 5px;
  text-align: center;
}
.hour_card {
  padding: 5px;
}
/* image fz */
.hour_card span {
  font-size: 37.5px;
}

/* Second_body_block css block */
/* Weekly css block */
.weekly_info {
  display: flex;
  flex-direction: row;
}
.map {
  width: 49vw;
  border-radius: 0 20px 20px 0;
}
.weekly_block {
  width: 48vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.36);
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}
.weekly_block h3 {
  padding-top: 20px;
  text-align: center;
  font-size: 22px;
}
.list_items {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.158);
  box-sizing: border-box;
}
.list_items:nth-child(2n) {
  background-color: rgba(64, 147, 175, 0.25);
}
.list_items:last-child {
  border: none;
}
.list_items:hover {
  background-color: #ffffff36;
}
.list_items:active {
  background-color: #5e5cc967;
}

/* .list_items p {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
} */

.icons {
  font-size: 2rem;
}

.daily_block {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.36);
  border-radius: 25px;
  overflow: hidden;
  padding: 20px;
}

@media (max-width: 500px) {
  .body_weekly {
  }
  .return_button {
    top: 60px;
    left: 0px;
    font-size: 15px;
    height: 30px;
  }
  .daily_header {
    display: none;
  }
  .weekly_block h3 {
    font-size: 14px;
  }
  .description {
    display: none;
  }
  .icons {
    display: none;
  }
  .list_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .list_items p {
    font-size: 14px;
  }
}
