.scroll_buttons_container {
  position: fixed;
  left: 0;
  top: 300px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.button_left,
.button_right {
  width: 50px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.36);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.button_left:hover,
.button_right:hover {
  background-color: #ffffff26;
  width: 84px;
}

.button_left {
  border-radius: 40px 0 0 40px;
  left: 0;
}

.button_right {
  border-radius: 0px 40px 40px 0;
  right: 0;
}

@media (max-width: 500px) {
  .scroll_buttons_container {
    top: 370px;
    padding: 0 35px;
    z-index: 1000;
  }
  .button_left,
  .button_right {
    width: 0px;
    height: 100px;
    font-size: 20px;
    border-radius: 10px;
  }
  .button_left:hover,
  .button_right:hover {
    background-color: #ffffff26;
    width: 50px;
  }
}
