.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.wrapper_start {
  justify-content: flex-start;
}
.wrapper_center {
  justify-content: center;
}
.weather__info {
  display: flex;
  gap: 20px;
  width: max-content;
  padding: 20px 10px;
}
.sun {
  position: absolute;
  top: 50px;
  right: 0;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 0, 0.4);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
  /* z-index: 5; */
}
/* Block item */
.today__weather {
  position: relative;
  padding: 50px 30px;
  height: 530px;
  /* max-width: 380px; */
  background-color: rgba(0, 0, 0, 0.36);
  border-radius: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  flex: 0 0 calc(18.1% - 30px);
  box-shadow: 0 0 5px black;
}
.backgroundGif {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.backgroundGif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.36;
  z-index: 0;
  display: block;
}
.today__weather:hover {
  background-color: #ffffff26;
}
/* dots & options */
.dots {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  font-weight: 600;
  display: inline-block;
  transform: rotate(90deg);
  cursor: pointer;
  height: 55px;
  width: 50px;
  z-index: 100;
  display: none;
}
.dropdown {
  position: absolute;
  top: 10px;
  right: -180px;
  background-color: rgba(255, 255, 255, 0.41);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  z-index: 1000;
  min-width: 200px;
  margin-top: 10px;
  padding: 10px 0;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown li {
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown li:hover {
  background-color: #f4f4f4;
  color: #007bff;
}
/* end dots & options */

.today_weather_town {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  z-index: 13;
  font-size: 18px;
}
.today_weather_town img {
  display: block;
  height: 90px;
  width: 90px;
}
.today_weather_town div {
  padding: 10px 10px 0 0;
}
.today_weather_temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 38px;
  min-width: 150px;
  z-index: 13;
}
.temperature {
  font-size: 144px;
  font-weight: 300;
}
.celsius {
  position: absolute;
  top: 45px;
  right: -25px;
  font-size: 28px;
}
.cloudy {
  position: absolute;
  bottom: 20px;
  font-size: 16px;
}
.today_weather_visibility {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
  width: 100%;
  z-index: 13;
}
.visibility_context {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 118px;
}
.visibility_context img {
  margin-right: 5px;
}
.visibility_context_text {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.adding__location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  height: 530px;
  min-width: 340px;
  background-color: rgba(0, 0, 0, 0.36);
  border-radius: 20px;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 100;
}
.adding__location p {
  font-weight: 600;
  font-size: 24px;
}
.add_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff3b;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 25px;
  cursor: pointer;
}
.plus__sign {
  font-size: 60px;
  font-weight: normal;
  transform: rotate(45deg);
}
.wind_direction span {
  font-size: 18px;
  margin-right: 10px;
}
.deleting_city {
  font-size: 30px;
  font-weight: 500;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}

@media (max-width: 500px) {
  .wrapper {
    overflow-x: auto;
  }
  .wrapper_center {
    justify-content: start;
  }
  .dropdown {
    top: 40px;
    right: 0;
    min-width: 0;
  }
  .sun {
    top: 0;
    right: 0px;
  }
  .weather__info {
    gap: 0px;
    padding: 0px;
  }
  .today__weather {
    flex: none;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
  .adding__location {
    min-width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
  .backgroundGif {
    border-radius: 0px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    overflow-x: auto;
  }
}
