/* Body Styles */
.weather__body {
  width: 100%;
  height: 80vh;
  padding: 9rem 94px;
  color: white;
}

.weather__info {
  gap: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today__weather {
  position: relative;
  padding: 50px 30px;
  background-color: rgba(0, 0, 0, 0.36);
  border-radius: 45px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  font-weight: 600;
  display: inline-block;
  transform: rotate(90deg);
}

.today_weather_town {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.today_weather_town img {
  display: block;
  height: 90px;
  width: 90px;
}
.today_weather_town div {
  padding: 10px 10px 0 0;
}
.today_weather_temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 38px;
}
.temperature {
  font-size: 144px;
  font-weight: 300;
}
.celsius {
  position: absolute;
  top: 45px;
  right: -25px;
  font-size: 28px;
}
.cloudy {
  position: absolute;
  bottom: 20px;
  font-size: 16px;
}
.today_weather_visibility {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
  width: 100%;
}
.visibility_context {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.visibility_context img {
  margin-right: 5px;
}
.visibility_context_text {
  width: 100%;
  /* padding-left: 5px; */
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.adding__location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  height: 500px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.36);
  border-radius: 45px;
  flex-direction: column;
}
.adding__location p {
  font-weight: 600;
  font-size: 24px;
}
.add_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff3b;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 25px;
  cursor: pointer;
}
.plus__sign {
  font-size: 90px;
  font-weight: normal;
}
