/* Header Styles */
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: #ffffff30;
  font-size: 24px;
  z-index: 1;
}
.head__logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0 10px 64px;
  cursor: pointer;
}
.head__logo img {
  width: 34px;
  height: 34px;
}
.head__logo p {
  line-height: 100%;
  letter-spacing: 1px;
  padding-left: 10px;
}
.head__nav {
  padding: 10px 40px 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.3s ease-in;
}
a {
  text-decoration: none;
  color: white;
}
.head__nav a {
  cursor: pointer;
}
.head__nav a:hover {
  color: #321d6473;
}

@media (max-width: 500px) {
  .header {
    flex-direction: row;
    font-size: 15px;
    margin-bottom: 0px;
  }
  .head__logo {
    padding: 5px;
    align-items: center;
  }
  .head__logo p {
    font-size: 15px;
    color: white;
  }
}
